body {
  font-size: 120%;
  font-family: Arial;
}
/* navbar styles */
.nav-bar{
  text-align: center;
  background-color: #097e09;
  border-bottom: solid;
  border-bottom-color: #856404;  
  border-bottom-width: 5px; 
  color: white;
}
body{
  background-image: url("./dist/icons/background.png");
  -webkit-background-size: cover;
  background-repeat: no-repeat ;
  background-attachment: fixed;
}
#footer {
  background-color:  #097e09;   
  border-top: solid;
  border-top-color: #856404;  
  border-top-width: 5px;
  text-align: center; 
  /* display: block; */
  /* position: fixed; */
  margin-bottom: 0%;
  bottom: 0;
  width: 100%;   
}
.footer_left {
font-size: 15px;
}
button, input {
  font-size: 100%;
  font-family: Arial;
}

table {
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.error {
  color: red;
}
.col-12{
  height: 75px;
}
.wrapper {
  margin: 0 auto;
  max-width: 825px;
  text-align: center;
}

.total {
  font-size: 150%;
  text-decoration: underline;
}

.form {
  margin-top: 25px;
  width: 100%;
}

.transactions {
  text-align: left;
  max-height: 300px;
  overflow: auto;
  width: 90%;
  margin: 0 auto;
}
